.login-container {
  display: flex;
  max-width: 500px;
  margin: 50px auto;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  &--main {
    flex-direction: column;
  }
}
