$primary-color: red;
html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  height: 2000px;
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 12rem;
  position: fixed;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom right, $primary-color, orange);
  &-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16rem;
    padding: 1rem 2rem;
    height: 100%;
    transform: translateY(10%);

    &-icon {
      font-size: 4rem;
      color: white;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }
    &-text {
      font-size: 3rem;
      color: white;
      margin-left: 1rem;
      font-weight: bold;
    }
  }
  &-search {
    max-width: 80rem;
    margin-left: 5rem;
    position: relative;
    transform: translateY(1.5rem);
    &-input {
      width: 60rem;
      height: 3rem;
      border-radius: 1.5rem;
      border: none;
      padding: 0 1rem;
      font-size: 1.6rem;
      position: relative;
    }
    &-button {
      height: 3rem;
      border-radius: 1.5rem;
      border: none;
      padding: 0 1rem;
      font-size: 1.6rem;
      background-color: white;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      cursor: pointer;
    }
  }
  &-user {
    position: absolute;
    top: 1rem;
    right: 16rem;

    display: flex;
    align-items: center;
    cursor: pointer;
    &-icon {
      font-size: 2rem;
      color: white;
    }
    &-text {
      font-size: 1.6rem;
      color: white;
      margin-left: 0.5rem;
    }
    &-caret {
      font-size: 1.6rem;
      color: white;
      margin-left: 0.5rem;
    }
  }
}
