.header {
  background-color: rgba(82, 7, 7, 0.427);
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(52, 58, 64, 0.715);
  overflow: hidden;
}
.navbar a {
  color: #ffffff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
